.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  min-width: 1000px;
}

tr {
  border: 1px solid black;
}

td {
  padding: 0.5rem 1rem;
}

.action-btn-cell {
  width: 300px;
}

.action-btn {
  margin: 0 0.2rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  outline: 0;
  background-color: darkcyan;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.action-btn:disabled {
  cursor: not-allowed;
}

.input-container {
  display: flex;
}

.input {
  padding: 0.5rem;
  border: 1px solid #c9c9c9;
  width: 100%;
  font-size: 16px;
}

.input:focus {
  border: 2px solid chocolate;
}
